@use "../../../styles/colors";

.seta__button {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  font-family: inherit;

  &.seta__button--sm {
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
  }
}

// Targets any icons
.seta__button .lucide {
  margin-left: 0.5rem;
}

.seta__button--primary {
  background-color: colors.$teal-500 ;
  color: colors.$white;
  border: 1px solid colors.$teal-500 ;

  &:hover {
    background-color: colors.$teal-600;
  }

  &:active {
    background-color: colors.$teal-700;
  }
}

.seta__button--secondary {
  background-color: colors.$white;
  color: colors.$teal-500;
  border: 1px solid colors.$teal-500;

  &:hover {
    background-color: colors.$teal-100;
  }

  &:active {
    background-color: colors.$teal-200;
  }
}

.seta__button--tertiary {
  background-color: colors.$white;
  color: colors.$teal-500;
  border-color: transparent;

  &:hover {
    background-color: colors.$teal-100;
  }

  &:active {
    background-color: colors.$teal-200;
  }
}
