$white: #FFFFFF;
$dark-gray: #0A0A0A;

$teal-100: #C6F8E6;
$teal-200: #90F0D7;
$teal-300: #55D5BE;
$teal-400: #2AAB9F;
$teal-500: #007373; // Primary
$teal-600: #005A62;
$teal-700: #004452;
$teal-800: #003142;
$teal-900: #002437;

$blue: #1E88E5;
$yellow: #FFC107;
$red: #C50303;
