$white: #FFFFFF;
$gray-300: #E1E1E1;
$dark-gray: #0A0A0A;
$gray-800: #636363;
$transparent-dark-gray: rgba(10, 10, 10, 0.1);

$teal-100: #C6F8E6;
$teal-200: #90F0D7;
$teal-300: #55D5BE;
$teal-400: #2AAB9F;
$teal-500: #007373; // Primary
$teal-600: #005A62;
$teal-700: #004452;
$teal-800: #003142;
$teal-900: #002437;

$blue-100: #D1F2FD;
$blue-200: #A4E1FC;
$blue-300: #76C8F7;
$blue: #1E88E5;
$blue-700: #0F4FA4;
$blue-800: #093784;

$red-100: #FCDBCA;
$red-200: #F9B097;
$red-300: #ED7961;
$red: #C50303;
$red-700: #8D0119;
$red-800: #72001E;

// TODO review yellow

$yellow-100: #FBEFC8;
$yellow-200: #FFED9B;
$yellow-300: #E8BE5C;
$yellow: #FFC107;
$yellow-700: #804500;
$yellow-800: #936402;
