@use "../../styles/colors";

.seta__notification-timeline-player {
  position: absolute;
  bottom: 100%;
  left: 0;
  background-color: colors.$white;
  padding: 0.75rem;
  z-index: 1000;
  box-shadow: 0 2px 2px colors.$transparent-dark-gray, 0 4px 4px colors.$transparent-dark-gray, 0 8px 8px colors.$transparent-dark-gray;
}

.seta__notification-timeline-player--hidden {
  display: none;
}

.seta__notification-timeline-player__controls {
  display: inline-flex;
}

.seta__notification-timeline-player__label {
  font-size: 1rem;
  font-weight: 400;
  color: colors.$gray-800;
}
